div#calculator, form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

table, td, th {
  border: 1px solid black;
  text-align: center;
  background-color: white;
}

div#calculator {
  width: 80%;
  height: 100%;
  background-color: rgba(111, 111, 111, 0.5);
}
