div#calculator, form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
table, td, th {
  border: 1px solid black;
  text-align: center;
  background-color: white;
}
div#calculator{
  width: 100%;

  background-color: rgba(222, 222, 222, 0.5);
}
