div#calculator, form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

form{
  margin: 2px;
}
table, td, th {
  border: 1px solid black;
  text-align: center;
  background-color: white;
  margin: 0 auto;
}
table{
  width: 90%;
}

div#calculator {
  width: 90%;
  height: 100%;
  background-color: rgba(111, 111, 111, 0.5);
}
