body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  zoom: 0;
}

div {
  margin: 0;
  padding: 0;
  position: relative;
  width: 95vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}