div.rotate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

Link.close {
  position: relative;
  bottom: 0;
margin-top: 5rem;
  text-decoration: none;
}