@import url('https://fonts.googleapis.com/css?family=Cambay');

  div#intro {
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1{
    font-size: 3rem;
    color: white;
    font-family: 'Cambay', sans-serif;
  }
